---
layout: default
section_id: home

about:
  - 易立思的翻译服务包含笔译、口译及本地化服务。语种包括中文、英语、日语、韩语、俄语、法语、德语及西班牙语。如企业有特殊语种需求，易立思可通过业内网络寻找相应译者。
  - 易立思的译员皆毕业于北京外国语大学高级翻译学院——全国第一的翻译培训摇篮，前身为联合国驻中国翻译培训班。译员均有用全国翻译专业资格证，具有5年以上的口、笔译经验。多次为联合国、世界卫生组织、中国政府机构、国内高校、来访官员等提供口、笔译服务。不少译员目前在国内高校任职翻译教师。我们以最高的行业水准为您提供最佳的翻译服务。
  - 易立思英语翻译团队涉猎多个专业领域，包括且不限于政治、金融、法律、建筑、石油、汽车、生物、医学、IT、航空等。易立思拥有外籍审校团队，确保译文准确、地道，符合相应国家的语言和文化习惯。另外，公司还有一支阵容强大的IT团队，确保本地化产品与原产品无缝连接。

services:
  - title: 笔译服务
    icon: fa fa-file-text
    desc: 服务范围：法律合同、管理咨询、营销材料、手册说明、技术资料、学术论文、证书证件等。
    extra: 专业的翻译流程：理解原文→查证专有名词→阅读目标语平行文本→翻译→译者书写翻译注释→审校→母语人士润色译文→排版→返回客户。
  - title: 口译服务
    icon: fa fa-comments
    desc: 服务范围：陪同口译、展会口译、交替传译、同声传译、耳语同传。
    extra: 易立思为您的商务接待、谈判、大型会议、展会等商业活动提供多样化的口译服务，覆盖金融、制造、IT、通信、医学、化工能源等多个行业领域。
  - title: 本地化
    icon: fa fa-globe
    desc: 服务范围：软件本地化、网站本地化、游戏本地化、媒体文档本地化等。
    extra: 易立思为您的产品打入国际市场提供强有力的本地化支持，无论是公司官网、手机应用还是视频字幕制作，易立思的翻译团队都将在专业IT团队的指导下进行本地化，保证本地化产品与原产品无缝连接。

milestones:
  - icon: file-text
    from: 0
    to: 1000
    title: 文件翻译
  - icon: comments
    from: 0
    to: 500
    title: 会议翻译
  - icon: thumbs-up
    from: 0
    to: 200
    title: 客户好评
  - icon: language
    from: 0
    to: 20
    title: 支持语言

---

<div class='full' style='background-image: url(images/bg/9.jpg); color: #fff;'>
<div class='four spacing'></div>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="易立思翻译" color="#fff" tagline="值得您信赖的专业翻译团队" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns indent-about'>
      {% include section-header.html title="关于易立思翻译" %}
      <div class='spacing'></div>
        {% for item in page.about %}
          <p>{{item}}</p>
        {% endfor %}
      <div class='three spacing'></div>
    </div>
  </div>
</div>



<div class='full' style="background: #f5f5f5;">
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="我们提供" %}
      <div class='spacing'></div>
    </div>
  </div>
  <div class="row">
    {% for service in page.services %}
    {% comment %} {% capture fa_class %}
    fa {{ service.icon }}
    {% endcapture %} {% endcomment %}
    <div class="medium-4 large-4 columns">
      {% include icon-text.html title=service.title desc=service.desc icon_class=service.icon delay='0' shape_class='icon-text-circle' %}
    </div>
    {% endfor %}
  </div>
  <div class='spacing'></div>
</div>


<div class='full parallax' style='background-image: url(images/bg/3.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="我们的业绩" color="#fff" %}
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='row'>
    {% for milestone in page.milestones %}
      <div class='medium-3 large-3 columns'>
        <div class='mod modMilestone'>
          <i class='fa fa-{{milestone.icon}}'></i>
          <div class='numbers'>
            <strong class='counter' data-from='{{milestone.from}}' data-to='{{milestone.to}}'>&nbsp;</strong>
            <strong>+</strong>
          </div class='numbers'>
          <span>{{milestone.title}}</span>
          <div class='four spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class='two spacing'></div>
</div>


<div class='full' style="background: #f5f5f5;">
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="我们的团队"%}
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row small-6 medium-12'>
    {% for member in site.data.translation_team.members %}
      {% if forloop.first%}
        {% assign special_tag = 'medium-offset-1' %}
      {% elsif forloop.last %}
        {% assign special_tag = 'end' %}
      {% else %}
        {% assign special_tag = '' %}
      {% endif %}
      
      {% comment %} https://stackoverflow.com/a/24954761/1938012 {% endcomment %}
      <div class='small-12 medium-2 {{special_tag}} columns'>
        <div class='mod modTeamMember'>
          <div class='member'>
            <img class="avatar" alt="" src="{{ member.avatar }}" />
            {% comment %} <div class='overlay'>
              <div class='intro'>
                <h3>{{member.name}}</h3>
                <p>{{member.position}}</p>
                <ul class='socials'>
                  {% for social in member.socials %}
                    <li>
                      <a href='{{social.link}}'>
                        <i class='fa fa-{{social.icon}}'></i>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div> {% endcomment %}
          </div>
          <h3 class='centered-text name'>{{member.name}}</h3>
          <p class='centered-text position'>{{member.position}}</p>
          {% comment %} <ul>
            {% for desc in member.desc %}
            <li>{{desc}}</li>
            {% endfor %}
          </ul> {% endcomment %}
          <p >{{member.desc}}</p>
          <div class='spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text footnote'> ※ {{ site.data.translation_team.summary }}</p>
      <div class='two spacing'></div>
    </div>
  </div>
</div>


<div class='full' style='background: #fff'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="笔译流程" %}
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='large-12'>
      <img src='images/process/biyi.png'>
    </div>
  </div>
  {% comment %} <div class=' spacing'></div> {% endcomment %}
</div>

<div class='full' style='background: #fff'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="口译流程" %}
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='large-12'>
      <img src='images/process/kouyi.png'>
    </div>
  </div>
  <div class='three spacing'></div>
</div>

{% include our-customers.html %}


<div class='full no-padding' style='background: #fff'>
  <div class='two spacing'></div>
  <div class='mod modCallToAction'>
    <div class='row'>
      <div class='large-12 columns'>
        <p class='centered-text'>还在苦于寻找高质量的翻译服务吗？现在就联系我们吧！</p>
      </div>
      <div class='large-12 columns'>
        <p class='centered-text'>
          <a class='button' href='contact.html'>我想咨询</a>
        </p>
      </div>
    </div>
  </div>
  <div class='spacing'></div>
</div>
