<div class='full' style='background-image: url(images/bg/10.jpg);'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="合作客户" color="#fff" %}
    </div>
  </div>
  <div class='spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modClients' data-slides_to_show='4'>
        <div class='clients'>
          {% for client in site.data.clients %}
            <div><img title="{{client.name}}" alt="{{client.name}}" src="{{client.image}}" /></div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>